* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
}

#left {
    width: 40%;
    height: 100%;
    position: relative;
}

#lnav {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

#lnavr a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 13px;

}

#lnavr i {
    color: royalblue;

}

#lnavr {
    display: flex;
    align-items: center;

}

#right {
    width: 60%;
    background-color: #fff;
    height: 100%;

}

#rtop {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: aqua;
}

#rbottom {
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1489945891631-ec3f0d557901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);    
    background-size: cover;
    background-position: center;
}

#rtopleft {
    width: 55%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1579169326371-ccb4e63f7889?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80);
    background-position: center;
    background-size: cover;

}

#rtopright {
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1528290869615-84fe45af6918?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80);
    background-size: cover;
    background-position: right;
}

#left #textcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

#textcenter a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 12px;
    opacity: .6;
    font-weight: 900;

}

#textcenter h1 {
    /* font-style: italic; */
    font-weight: 900;
    font-size: 60px;
}

#textcenter p {
    opacity: .5;
    font-size: 10px;
    line-height: 14px;
    margin-top: 20px;
    margin-bottom: 20px;


}
@media(max-width:500px){
    #main{
        flex-direction: column;

    }
    #main #left{
        width: 100%;

    }
    #main #right{
        width: 100%;
    }






}